In [2]:
import os
import numpy as np
import pandas as pd
import re
import math
import pdb
import datetime
import time

# Loading StudentLife dataset

In [3]:
path = './dataset/dataset' # dir to datatset

os.listdir(path)

['app_usage',
 'calendar',
 'call_log',
 'dinning',
 'education',
 'EMA',
 'rawaccfeat',
 'sensing',
 'sms',
 'survey']

## Loading EMA data

In [4]:
''' 
Directories of interest

stress, sleep, exercise, deadlines, lighting, audio, charging

'''
path_db = './dataset' + '/rawaccfeat'

# ema
path_ema = path + '/EMA'
path_ema_response = path_ema + '/response'
path_ema_stress = path_ema_response + '/Stress'
path_ema_sleep = path_ema_response + '/Sleep'
path_ema_exercise = path_ema_response + '/Exercise'


# education
path_edu = path + '/education'
path_edu_deadlines = path_edu + '/deadlines.csv'

# sensing

path_sens = path + '/sensing'
path_sens_activity = path_sens + '/activity'
path_sens_dark = path_sens + '/dark'
path_sens_charge = path_sens + '/phonecharge'
path_sens_audio = path_sens + '/Audio'

In [5]:
'''
Id's of interest are the ones that recorded: 
                                            stress, 
                                            exercise, 
                                            deadlines.
'''
regex = r'(u\d{2})'

files = os.listdir(path_ema_stress)
ids_with_stress = [re.search(regex, file).group(0) for file in files]

files = os.listdir(path_ema_exercise)
ids_with_exercise = [re.search(regex, file).group(0) for file in files]

df_deadline = pd.read_csv(path_edu_deadlines)
ids_with_deadlines = list(df_deadline['uid'])

uids = set(ids_with_stress + ids_with_exercise + ids_with_deadlines)

# uids = list(uids)
uids

{'u00',
 'u01',
 'u02',
 'u03',
 'u04',
 'u05',
 'u07',
 'u08',
 'u09',
 'u10',
 'u12',
 'u13',
 'u14',
 'u15',
 'u16',
 'u17',
 'u18',
 'u19',
 'u20',
 'u22',
 'u23',
 'u24',
 'u25',
 'u27',
 'u30',
 'u31',
 'u32',
 'u33',
 'u34',
 'u35',
 'u36',
 'u39',
 'u41',
 'u42',
 'u43',
 'u44',
 'u45',
 'u46',
 'u47',
 'u49',
 'u50',
 'u51',
 'u52',
 'u53',
 'u54',
 'u56',
 'u57',
 'u58',
 'u59'}

In [6]:
'''
EMA definitions
'''
files = os.listdir(path_ema)
df_EMA_def = pd.read_json(path_ema + '/' + files[0])

In [7]:
'''
Loading stress files
'''
files = os.listdir(path_ema_stress)
df_s = pd.read_json(path_ema_stress + '/' + files[0])
df_s

,level,location,null,resp_time
0,NaN,NaN,"43.75908069,-72.32885314",2013-03-24 08:40:01
1,NaN,NaN,"43.75908069,-72.32885314",2013-03-24 08:40:58
2,NaN,NaN,"43.70677151,-72.28746626",2013-03-25 02:16:45
3,NaN,NaN,1,2013-03-25 00:00:18
4,NaN,NaN,1,2013-03-25 02:16:49
5,2.0,"43.70692415,-72.2873929",NaN,2013-03-25 18:54:56
6,2.0,"43.70555193,-72.28704778",NaN,2013-03-26 03:33:26
7,2.0,"43.70555193,-72.28704778",NaN,2013-03-26 03:33:34
8,1.0,"43.70678675,-72.28732051",NaN,2013-03-27 01:12:20
9,4.0,"43.70032217,-72.28941584",NaN,2013-03-28 22:19:12
10,1.0,"43.70508322,-72.28677496",NaN,2013-03-28 02:25:27
11,2.0,"43.70541477,-72.28837166",NaN,2013-03-28 19:25:54
12,2.0,"43.70514505,-72.28786512",NaN,2013-03-28 18:43:12
13,3.0,"43.70492199,-72.28765189",NaN,2013-03-28 19:17:25
14,4.0,"43.70671614,-72.28750076",NaN,2013-03-29 02:05:54
15,1.0,"43.70466313,-72.30515871",NaN,2013-03-29 15:57:22
16,4.0,"43.70540958,-72.28769817",NaN,2013-03-28 21:08:14
17,1.0,"43.70045799,-72.28948963",NaN,2013-03-29 20:54:17
18,4.0,"43.70045799,-72.28948963",NaN,2013-03-29 23:08:06
19,4.0,"43.70664323,-72.28735129",NaN,2013-03-30 04:19:24
20,4.0,"43.75914412,-72.32945574",NaN,2013-03-31 17:54:45
21,5.0,"43.75933742,-72.32887548",NaN,2013-03-31 22:55:27
22,2.0,"43.64517111,-72.34052885",NaN,2013-04-03 00:40:08
23,4.0,"43.70708859,-72.28753397",NaN,2013-04-04 00:27:29
24,1.0,Unknown,NaN,2013-04-02 22:17:41
25,1.0,"43.70718896,-72.28657272",NaN,2013-04-03 16:26:59
26,1.0,"43.70708859,-72.28753397",NaN,2013-04-04 14:59:44
27,2.0,"43.70708859,-72.28753397",NaN,2013-04-04 19:04:18
28,4.0,"43.70708859,-72.28753397",NaN,2013-04-04 23:25:24
29,2.0,"43.70708859,-72.28753397",NaN,2013-04-05 15:02:38
...,...,...,...,...
49,1.0,Unknown,NaN,2013-04-28 20:00:12
50,3.0,"43.70671166,-72.28752047",NaN,2013-04-30 04:27:01
51,4.0,"43.75925379,-72.32896315",NaN,2013-05-15 02:41:36
52,1.0,"45.4395125,12.34123283",NaN,2013-05-08 18:16:25
53,5.0,"45.43405923,12.34411871",NaN,2013-05-08 18:16:24
54,4.0,"43.70577916,-72.28646757",NaN,2013-05-16 02:11:34
55,4.0,Unknown,NaN,2013-05-09 03:44:02
56,1.0,"48.85374768,2.32779888",NaN,2013-05-07 00:31:32
57,1.0,"43.70342306,-72.28790457",NaN,2013-05-15 20:49:45
58,4.0,"43.6853331,-72.3136472",NaN,2013-05-17 02:00:27
59,4.0,"43.7590614,-72.32948628",NaN,2013-05-17 19:45:07
60,4.0,Unknown,NaN,2013-05-18 02:29:17
61,1.0,"43.75896264,-72.32915927",NaN,2013-05-20 04:03:56
62,2.0,"43.71426733,-72.30833474",NaN,2013-05-21 15:57:18
63,1.0,"43.70685166,-72.28720734",NaN,2013-05-22 04:11:19
64,1.0,"43.70092569,-72.2894562",NaN,2013-05-22 20:03:32
65,1.0,"43.70092569,-72.2894562",NaN,2013-05-22 19:41:14
66,1.0,Unknown,NaN,2013-05-23 17:06:35
67,1.0,"43.7030517,-72.28273911",NaN,2013-05-24 07:08:54
68,1.0,Unknown,NaN,2013-05-23 19:19:10
69,2.0,"38.90571134,-77.03395507",NaN,2013-05-25 04:00:14
70,1.0,"43.70090859,-72.28580049",NaN,2013-05-24 21:26:10
71,1.0,"38.9057069,-77.03396292",NaN,2013-05-25 06:14:16
72,2.0,Unknown,NaN,2013-05-25 15:53:56
73,3.0,Unknown,NaN,2013-05-25 16:39:10
74,1.0,"43.75910573,-72.32818315",NaN,2013-06-03 06:00:04
75,1.0,"43.7020707,-72.28920131",NaN,2013-08-07 01:48:04
76,3.0,"43.71339054,-72.30883507",NaN,2013-08-08 00:47:33
77,1.0,"43.70579481,-72.28577693",NaN,2013-08-10 03:44:40
78,2.0,"43.70670762,-72.28743459",NaN,2013-08-16 00:56:08

In [8]:
'''
Loading exercise files
'''

files = os.listdir(path_ema_exercise)
ids_with_exercise 

df_EMA_exercise_sample = pd.read_json(path_ema_exercise + '/' + files[0])
list(df_EMA_exercise_sample['resp_time'][:].astype(np.int64) // 10 ** 9)

[1364960606,
 1364828138,
 1364836376,
 1364875433,
 1365035283,
 1365041024,
 1365214761,
 1365129591,
 1365194271,
 1365359708,
 1365299772,
 1365571498,
 1366230462,
 1365807244,
 1366166684,
 1366250666,
 1366345779,
 1366604608,
 1366783707,
 1367203093,
 1367796624,
 1368036983,
 1368677250,
 1368767527,
 1368042700,
 1368915663,
 1369001965,
 1370032055,
 1369512401,
 1369772697,
 1369861447,
 1369944425,
 1370117845,
 1370386862,
 1370474328,
 1370228689,
 1375840036]

In [9]:
'''
Loading activity dataset
'''

files = os.listdir(path_sens_activity)

df_s = pd.read_csv(path_sens_activity + '/' + files[0])
df_s

         timestamp   activity inference
0       1364356801                    0
1       1364356804                    0
2       1364356807                    0
3       1364356809                    0
4       1364356992                    0
5       1364356995                    0
6       1364356997                    0
7       1364357000                    0
8       1364357002                    0
9       1364357005                    0
10      1364357008                    0
11      1364357010                    0
12      1364357013                    0
13      1364357015                    0
14      1364357018                    0
15      1364357020                    0
16      1364357023                    0
17      1364357026                    0
18      1364357028                    0
19      1364357031                    0
20      1364357033                    0
21      1364357036                    0
22      1364357039                    0
23      1364357041                    0
24      1364357044                    0
25      1364357046                    0
26      1364357049                    0
27      1364357232                    0
28      1364357234                    0
29      1364357237                    0
...            ...                  ...
461961  1370048334                    0
461962  1370048337                    0
461963  1370048339                    0
461964  1370048342                    0
461965  1370048344                    0
461966  1370048347                    0
461967  1370048350                    0
461968  1370048352                    0
461969  1370048355                    0
461970  1370048357                    3
461971  1370048360                    3
461972  1370048363                    3
461973  1370048365                    3
461974  1370048368                    3
461975  1370048370                    3
461976  1370048373                    0
461977  1370048561                    0
461978  1370048577                    0
461979  1370048579                    0
461980  1370048582                    0
461981  1370048584                    0
461982  1370048587                    0
461983  1370048590                    0
461984  1370048592                    0
461985  1370048597                    0
461986  1370048602                    0
461987  1370048605                    0
461988  1370048608                    3
461989  1370048610                    3
461990  1370048613                    3

[461991 rows x 2 columns]

In [10]:
'''
Loading light dataset
'''

files = os.listdir(path_sens_dark)

df_s = pd.read_csv(path_sens_dark + '/' + files[0])
df_s

          start         end
0    1364365266  1364385049
1    1364386302  1364391007
2    1364406347  1364411324
3    1364425558  1364429485
4    1364497400  1364502343
5    1364520813  1364529323
6    1364541482  1364556077
7    1364558746  1364563171
8    1364570994  1364574706
9    1364579064  1364584067
10   1364587565  1364600472
11   1364670659  1364679800
12   1364742092  1364747925
13   1364753002  1364760677
14   1364769968  1364787645
15   1364787651  1364815345
16   1364838234  1364844604
17   1364903822  1364911259
18   1364911273  1364925403
19   1364931460  1364935187
20   1364935270  1364939038
21   1364939336  1364949771
22   1364950676  1364963712
23   1364969517  1364986780
24   1365002852  1365007377
25   1365011044  1365016284
26   1365016601  1365020438
27   1365020966  1365026579
28   1365026714  1365032414
29   1365118132  1365122311
..          ...         ...
154  1368374761  1368379064
155  1368397023  1368401432
156  1368457030  1368466206
157  1368466753  1368471533
158  1368485407  1368490438
159  1368490439  1368494379
160  1368494507  1368529719
161  1368630683  1368636573
162  1368641749  1368647420
163  1368651845  1368655885
164  1368745295  1368750157
165  1368757698  1368783689
166  1368983049  1368987547
167  1368998660  1369007145
168  1369337350  1369341238
169  1369410911  1369416660
170  1369482011  1369486285
171  1369582899  1369592080
172  1369600593  1369618454
173  1369620007  1369654145
174  1369743153  1369749255
175  1369758639  1369763736
176  1369766216  1369770972
177  1369785451  1369791570
178  1369871808  1369875657
179  1369930054  1369935166
180  1369956428  1369961666
181  1369965780  1369998853
182  1370006702  1370011039
183  1370039920  1370043842

[184 rows x 2 columns]

In [11]:
# files = os.listdir(path_db)
# conn = sqlite3.connect(path_db + '/' + files[0])
# c =  conn.cursor()
# c.execute("SELECT name FROM sqlite_master WHERE type='table';")
# print(c.fetchall())

In [12]:
# c.execute("SELECT * FROM accfeat;")
# row = c.fetchall()
# conn.commit()

In [ ]:
'''
Creating Dataframe

uid, timeofday, stress, sleep, time to deadline, #of deadlines, moving, silent,
dark, charging
'''
cols = ['uid', 'time of day', 'stress', 'sleep', 'time to deadline', '# of deadlines',
       'moving', 'silent', 'dark', 'charging']

data_df = pd.DataFrame([[0] * len(cols)] ,columns=cols)
for uid in uids:
    # getting stress value
    files = os.listdir(path_ema_stress)
    idx = [i for i in range(len(files)) if uid in files[i]][-1]
    
    
    df_stress = pd.read_json(path_ema_stress + '/' + files[idx])
    
    # sleep file
    
    files = os.listdir(path_ema_sleep)
    t_idx = [i for i in range(len(files)) if uid in files[i]][-1]
    df_sleep = pd.read_json(path_ema_sleep + '/' + files[t_idx])

    # deadline file

    df_deadline = pd.read_csv(path_edu_deadlines)

    deadlines = df_deadline[df_deadline['uid'] == uid]

    t_deadlines = deadlines.columns.values[1:]

    m = lambda d: datetime.datetime.strptime(d, "%Y-%m-%d")


    t_deadlines = list(map(m, t_deadlines))

    # activity files
    files = os.listdir(path_sens_activity)
    t_idx = [i for i in range(len(files)) if uid in files[i]][-1]

    df_activity = pd.read_csv(path_sens_activity + '/' + files[t_idx])
    
    # audio files
    files = os.listdir(path_sens_audio)
    t_idx = [i for i in range(len(files)) if uid in files[i]][-1] 
    df_audio = pd.read_csv(path_sens_audio + '/' + files[t_idx])
    
    
    # dark
    
    files = os.listdir(path_sens_dark)
    t_idx = [i for i in range(len(files)) if uid in files[i]][-1]
    df_dark = pd.read_csv(path_sens_dark + '/' + files[t_idx])

    # charging
    
    files = os.listdir(path_sens_charge)
    t_idx = [i for i in range(len(files)) if uid in files[i]][-1]    
    df_charging = pd.read_csv(path_sens_charge + '/' + files[t_idx])
    
    
    for i in range(len(df_stress)):
        if (math.isnan(df_stress.iloc[i]['level'])):
            continue
        t = {'uid': 0, 'time of day': 0, 'stress': 0, 'sleep': 0, 'time to deadline': 0, '# of deadlines': 0,
       'moving': 0, 'silent': 0, 'dark': 0, 'charging': 0}
        
        stress_time = df_stress.iloc[i]['resp_time']
        stress_dt = datetime.datetime.strptime(stress_time.strftime("%Y-%m-%d"), "%Y-%m-%d") #fromtimestamp(stress_time.value // 10 ** 9)

        t['uid'] = uid

        t['stress'] = df_stress.iloc[i]['level']
        
        # getting timeofday
        
        h = stress_time.hour
        t['time of day'] = h // 6 # 0 - 6 : 0, 6 - 12: 1, 12 - 18: 2, 18 - 24: 3
        
        # sleep
        
        t_idx = [i for i in range(len(df_sleep['resp_time'])) if df_sleep['resp_time'].iloc[i].day == stress_time.day and 
                df_sleep['resp_time'].iloc[i].month == stress_time.month]
        if t_idx == []:
            continue
        
        t['sleep'] = df_sleep['hour'][t_idx[-1]]
        
        
        
        # time to deadline (taking closes next deadline) 
        # find earliest time to deadline & count number of deadlines starting from response time of stress
        c = 0
        c_min = float("inf")
        min_idx = 0
        for j in range(len(t_deadlines)):

            if (math.isnan(deadlines[t_deadlines[j].strftime("%Y-%m-%d")].iloc[0]) or deadlines[t_deadlines[j].strftime("%Y-%m-%d")].iloc[0] == 0):
                continue
            if ((t_deadlines[j] - stress_dt).days >= 0 and  (t_deadlines[j] - stress_dt).days < c_min):
                c_min = (t_deadlines[j] - stress_dt).days
                min_idx = j
            if (deadlines[t_deadlines[j].strftime("%Y-%m-%d")].iloc[0] > 0):
                c += deadlines[t_deadlines[j].strftime("%Y-%m-%d")].iloc[0]
            
        t['time to deadline'] = c_min
        t['# of deadlines'] = c

        
        # moving or not

        stress_ut = stress_time.value // 10 ** 9

        min_idx = 0 
        c_min = float("inf")
        for j in range(len(df_activity)):
            c_ut = df_activity.iloc[j]['timestamp']
            td = c_ut - stress_ut
            if (td < c_min and td >= 0):
                c_min = td
                min_idx = j
                break
            
        t['moving'] = df_activity.iloc[j][' activity inference'] != 0
        
        # silent or not
        
        
        
        min_idx = 0 
        c_min = float("inf")
        for j in range(len(df_audio)):
            c_ut = df_audio.iloc[j]['timestamp']
            td = c_ut - stress_ut
            if (td < c_min and td >= 0):
                c_min = td
                min_idx = j
                break
            
        t['silent'] = df_audio.iloc[j][' audio inference'] != 0
        
        

        # dark or not
        
        
        for j in range(len(df_dark)):
            s_ut = df_dark.iloc[j]['start']
            e_ut = df_dark.iloc[j]['end']
           
            if (stress_ut <= e_ut and stress_ut >= s_ut):
                t['dark'] = True
                break
            if (stress_ut < s_ut):
                t['dark'] = False
                break
        
        # charging or not
        

        for j in range(len(df_charging)):
            s_ut = df_charging.iloc[j]['start']
            e_ut = df_charging.iloc[j]['end']
           
            if (stress_ut <= e_ut and stress_ut >= s_ut):
                t['charging'] = True
                break
            if (stress_ut < s_ut):
                t['charging'] = False
                break
        
        
        data_df.append(t, ignore_index=True)