In [1]:
import os
import numpy as np
import pandas as pd
import re
import math
import pdb
import datetime
import time

# Loading StudentLife dataset

In [2]:
path = './dataset/dataset' # dir to datatset

os.listdir(path)

['sms',
 'call_log',
 'sensing',
 'EMA',
 'calendar',
 'dinning',
 'app_usage',
 'education',
 'survey']

## Loading EMA data

In [16]:
''' 
Directories of interest

stress, sleep, exercise, deadlines, lighting, audio, charging

'''
path_db = './dataset' + '/rawaccfeat'

# ema
path_ema = path + '/EMA'
path_ema_response = path_ema + '/response'
path_ema_stress = path_ema_response + '/Stress'
path_ema_sleep = path_ema_response + '/Sleep'
path_ema_exercise = path_ema_response + '/Exercise'


# education
path_edu = path + '/education'
path_edu_deadlines = path_edu + '/deadlines.csv'

# sensing

path_sens = path + '/sensing'
path_sens_activity = path_sens + '/activity'
path_sens_dark = path_sens + '/dark'
path_sens_charge = path_sens + '/phonecharge'
path_sens_audio = path_sens + '/audio'

In [4]:
'''
Id's of interest are the ones that recorded: 
                                            stress, 
                                            exercise, 
                                            deadlines.
'''
regex = r'(u\d{2})'

files = os.listdir(path_ema_stress)
ids_with_stress = [re.search(regex, file).group(0) for file in files]

files = os.listdir(path_ema_exercise)
ids_with_exercise = [re.search(regex, file).group(0) for file in files]

df_deadline = pd.read_csv(path_edu_deadlines)
ids_with_deadlines = list(df_deadline['uid'])

uids = set(ids_with_stress + ids_with_exercise + ids_with_deadlines)

uids = {uid for uid in uids if uid in ids_with_deadlines and 
                               uid in ids_with_exercise  and 
                               uid in ids_with_stress}
# uids = list(uids)
len(uids)

44

In [63]:
'''
EMA definitions
'''
files = os.listdir(path_ema)
df_EMA_def = pd.read_json(path_ema + '/' + 'EMA_definition.json')
df_EMA_def
# df_EMA_def.iloc[7]['questions']

,name,questions
0,Social,"[{'options': '[1]0-4 persons, [2]5-9 persons, ..."
1,Class,"[{'options': '', 'question_id': 'course_id', '..."
2,Comment,"[{'options': '', 'question_id': 'comment', 'qu..."
3,Stress,"[{'options': '[1]A little stressed, [2]Definit..."
4,Sleep,"[{'options': '[1]<3, [2]3.5, [3]4, [4]4.5, [5]..."
5,Activity,"[{'options': '[1]0-10%, [2]11-25%, [3]26-50%, ..."
6,Behavior,[{'options': '(Not at all) 1 2 3 4 5 (Extremel...
7,Exercise,"[{'options': '(Yes) 1 2 (No)', 'question_id': ..."
8,Study Spaces,"[{'options': '', 'question_id': 'place', 'ques..."
9,Do Campbell's jokes suck?,"[{'options': '[1]Great, [2]OK, [3]Terrible, ',..."
10,Events,"[{'options': '[1]1, [2]2, [3]3, [4]4, [5]5, [6..."
11,Boston Bombing,"[{'options': '[1]sadness, [2]anger, [3]fear, [..."
12,Dimensions,"[{'options': '', 'question_id': 'describe', 'q..."
13,Dartmouth now,"[{'options': '[1]Not at all, [2]Slightly, [3]M..."
14,Dining Halls,"[{'options': '[1]Collis, [2]Hop, [3]Foco, [4]K..."
15,Lab,"[{'options': '[1]Strongly agree, [2]agree, [3]..."
16,Mood,"[{'options': '(Yes) 1 2 (No)', 'question_id': ..."
17,Mood 2,"[{'options': '[1]happy, [2]stressed, [3]tired,..."
18,Cancelled Classes,"[{'options': '', 'question_id': 'words', 'ques..."
19,Dimensions protestors,"[{'options': '[1]Not at all, [2]Slightly, [3]M..."
20,Mood 1,"[{'options': '[1]happy, [2]stressed, [3]tired,..."
21,Class 2,"[{'options': '[1]Agree Strongly, [2]Agree Mode..."
22,Administration's response,"[{'options': '[1]Not at all, [2]Slightly, [3]M..."
23,Green Key 2,"[{'options': '[1]Seeing old friends, [2]Partie..."
24,Green Key 1,"[{'options': '', 'question_id': 'meaning', 'qu..."

In [9]:
'''
Loading stress files
'''
files = os.listdir(path_ema_stress)
df_s = pd.read_json(path_ema_stress + '/' + files[0])
df_s

,level,location,null,resp_time
0,3.0,"43.70712148268646,-72.29087061546424",NaN,2013-03-30 22:06:35
1,NaN,NaN,1,2013-03-24 10:45:11
2,NaN,NaN,1,2013-03-24 10:37:06
3,NaN,NaN,1,2013-03-24 10:37:09
4,NaN,NaN,"43.70633605,-72.28701846",2013-03-24 09:53:34
5,NaN,NaN,"43.70633605,-72.28701846",2013-03-24 10:37:08
6,3.0,"43.70286921804329,-72.29096447310383",NaN,2013-03-29 22:01:34
7,3.0,"43.70697950348372,-72.29051295213978",NaN,2013-03-29 06:01:14
8,3.0,"43.70711283219849,-72.29060053949401",NaN,2013-03-31 06:52:53
9,4.0,"43.70700745335506,-72.29084036869996",NaN,2013-04-01 06:35:30
10,1.0,"43.70706300122456,-72.29071133138713",NaN,2013-03-31 17:43:25
11,4.0,"43.70290214550227,-72.28830755493017",NaN,2013-03-31 22:36:02
12,4.0,"43.70338315129848,-72.2868059778217",NaN,2013-04-02 18:44:22
13,2.0,"43.70687860896128,-72.29020296287611",NaN,2013-04-04 02:04:54
14,3.0,Unknown,NaN,2013-04-03 06:57:58
15,1.0,"43.707146987999685,-72.29072620916767",NaN,2013-04-03 00:39:42
16,4.0,"43.707160898813775,-72.29070505330372",NaN,2013-04-04 06:01:51
17,2.0,"43.70602807141132,-72.28961758062928",NaN,2013-04-05 00:03:18
18,2.0,"43.708982659046605,-72.2843149049884",NaN,2013-04-08 20:02:50
19,4.0,"43.47757182567488,-72.10256690864196",NaN,2013-04-06 02:08:07
20,1.0,"42.29546402163234,-71.30295639597999",NaN,2013-04-06 04:54:22
21,5.0,"42.370239251465904,-71.10342783989697",NaN,2013-04-07 02:27:23
22,5.0,"42.370239251465904,-71.10342783989697",NaN,2013-04-07 19:05:04
23,4.0,"43.49025206949308,-72.12389271409735",NaN,2013-04-08 02:38:21
24,5.0,"43.70711731415267,-72.29072277676832",NaN,2013-04-09 08:09:31
25,1.0,Unknown,NaN,2013-04-12 22:00:54
26,5.0,"43.70321966184834,-72.2876130893634",NaN,2013-04-10 22:58:24
27,4.0,Unknown,NaN,2013-04-17 08:52:26
28,5.0,"43.7018118286106,-72.29161681150576",NaN,2013-04-11 22:54:01
29,1.0,"43.7072992593127,-72.2906748446873",NaN,2013-04-16 14:13:46
...,...,...,...,...
36,4.0,"43.701421570093544,-72.28795281856759",NaN,2013-04-18 08:30:49
37,1.0,"43.707174691260356,-72.29053700570506",NaN,2013-04-20 05:01:02
38,5.0,"43.70328375766367,-72.29034840992854",NaN,2013-04-23 08:03:05
39,2.0,"43.70752142691439,-72.2850969741643",NaN,2013-04-26 18:03:29
40,4.0,"43.707177085284,-72.29076125031246",NaN,2013-04-29 04:00:22
41,5.0,"43.7031158938812,-72.28458623995706",NaN,2013-04-30 04:07:35
42,5.0,"43.707054622192715,-72.29123417743249",NaN,2013-04-30 00:03:09
43,1.0,"43.701388955529055,-72.28811580508359",NaN,2013-05-02 05:00:37
44,4.0,"43.70224443737123,-72.28865005777988",NaN,2013-05-01 05:16:29
45,1.0,"43.70707845592363,-72.29075065434971",NaN,2013-05-10 07:54:21
46,4.0,Unknown,NaN,2013-05-08 18:59:13
47,3.0,"43.707177072888065,-72.29092730930216",NaN,2013-05-04 22:01:23
48,5.0,"43.70565234028792,-72.28963802288838",NaN,2013-05-07 18:06:58
49,4.0,"43.70578575320415,-72.28875349174373",NaN,2013-05-10 20:10:11
50,3.0,"43.705985547631826,-72.2890841770398",NaN,2013-05-07 06:02:00
51,4.0,"43.70710317696059,-72.29077723160351",NaN,2013-05-06 04:54:28
52,5.0,"43.706435405984664,-72.28987583319213",NaN,2013-05-17 02:11:27
53,1.0,"43.707109166321544,-72.29076892187575",NaN,2013-05-13 04:00:35
54,2.0,"43.7059528775494,-72.28796572137354",NaN,2013-05-15 02:17:52
55,5.0,"43.70600375009001,-72.28871367120003",NaN,2013-05-18 02:06:26
56,5.0,"43.70728455517431,-72.2906448611393",NaN,2013-05-18 06:32:54
57,5.0,"43.70741188459706,-72.29075012880249",NaN,2013-05-19 20:21:47
58,2.0,"43.707177235290146,-72.29055983606771",NaN,2013-05-18 19:43:04
59,1.0,"43.70726994377907,-72.29067645819752",NaN,2013-05-20 23:31:11
60,5.0,Unknown,NaN,2013-05-23 04:02:43
61,4.0,"43.70716117171132,-72.2907325334663",NaN,2013-05-23 19:14:22
62,4.0,"43.70536949189704,-72.2894110901644",NaN,2013-05-24 05:00:36
63,1.0,"43.70730262660705,-72.29076807376563",NaN,2013-05-27 00:59:04
64,5.0,"43.70719884051104,-72.29071075450138",NaN,2013-05-30 04:56:51
65,2.0,"43.7072259238806,-72.29061095852634",NaN,2013-05-31 07:52:44

In [10]:
'''
Loading exercise files
'''

files = os.listdir(path_ema_exercise)
ids_with_exercise 

df_EMA_exercise_sample = pd.read_json(path_ema_exercise + '/' + files[0])
list(df_EMA_exercise_sample['resp_time'][:].astype(np.int64) // 10 ** 9)

[1364877836,
 1364956140,
 1365040889,
 1365214552,
 1365113670,
 1365127225,
 1365295894,
 1365384971,
 1365460159,
 1366000498,
 1365551798,
 1365728170,
 1365638857,
 1366165456,
 1366344049,
 1366511491,
 1366790350,
 1367020814,
 1367971349,
 1369685157]

In [11]:
'''
Loading activity dataset
'''

files = os.listdir(path_sens_activity)

df_s = pd.read_csv(path_sens_activity + '/' + files[0])
df_s

         timestamp   activity inference
0       1364356932                    0
1       1364356935                    0
2       1364356937                    0
3       1364356940                    0
4       1364356943                    0
5       1364356945                    0
6       1364356948                    0
7       1364356950                    0
8       1364356953                    0
9       1364356955                    0
10      1364356958                    0
11      1364356961                    0
12      1364356963                    0
13      1364356966                    0
14      1364356968                    0
15      1364356971                    0
16      1364356973                    0
17      1364356976                    0
18      1364356979                    0
19      1364356981                    0
20      1364356984                    0
21      1364356986                    0
22      1364356989                    0
23      1364357172                    0
24      1364357174                    0
25      1364357177                    0
26      1364357180                    0
27      1364357182                    0
28      1364357185                    0
29      1364357187                    0
...            ...                  ...
471617  1369837891                    0
471618  1369837894                    0
471619  1369837896                    0
471620  1369837899                    0
471621  1369837901                    0
471622  1369837904                    0
471623  1369837907                    0
471624  1369838090                    0
471625  1369838092                    0
471626  1369838095                    0
471627  1369838097                    0
471628  1369838100                    0
471629  1369838103                    0
471630  1369838105                    0
471631  1369838108                    0
471632  1369838110                    0
471633  1369838113                    0
471634  1369838115                    0
471635  1369838118                    0
471636  1369838121                    0
471637  1369838123                    0
471638  1369838126                    0
471639  1369838128                    0
471640  1369838131                    0
471641  1369838133                    0
471642  1369838136                    0
471643  1369838139                    0
471644  1369838141                    0
471645  1369838144                    0
471646  1369838146                    0

[471647 rows x 2 columns]

In [12]:
'''
Loading light dataset
'''

files = os.listdir(path_sens_dark)

df_s = pd.read_csv(path_sens_dark + '/' + files[0])
df_s

          start         end
0    1364420234  1364424455
1    1364490388  1364496969
2    1364497018  1364501109
3    1364510648  1364516851
4    1364519950  1364525144
5    1364528070  1364532858
6    1364533424  1364560938
7    1364561284  1364565836
8    1364569987  1364574162
9    1364574650  1364580257
10   1364596856  1364607935
11   1364609397  1364619202
12   1364767446  1364773855
13   1364776400  1364786240
14   1364792296  1364824544
15   1364829282  1364833485
16   1364842578  1364846233
17   1364849296  1364861159
18   1364868168  1364872041
19   1364872049  1364875698
20   1364917864  1364925411
21   1364968213  1364992678
22   1365002283  1365006326
23   1365035798  1365044826
24   1365045552  1365049233
25   1365110759  1365117948
26   1365117948  1365128529
27   1365135644  1365142676
28   1365143145  1365165762
29   1365174925  1365179238
..          ...         ...
178  1369106607  1369142213
179  1369152003  1369157704
180  1369172408  1369180275
181  1369181668  1369187564
182  1369188877  1369194120
183  1369197803  1369226627
184  1369235248  1369239853
185  1369244554  1369249716
186  1369251304  1369267814
187  1369277609  1369281470
188  1369323657  1369329041
189  1369331048  1369337630
190  1369345246  1369356658
191  1369361111  1369368994
192  1369374237  1369379539
193  1369431234  1369440300
194  1369442075  1369446071
195  1369448119  1369457440
196  1369517433  1369525088
197  1369536626  1369543705
198  1369543732  1369549401
199  1369595799  1369605409
200  1369629664  1369638359
201  1369836142  1369845286
202  1369846461  1369876932
203  1369877013  1369881703
204  1369943509  1369948893
205  1369954634  1369958519
206  1369959045  1369963217
207  1370034641  1370041337

[208 rows x 2 columns]

In [13]:
# files = os.listdir(path_db)
# conn = sqlite3.connect(path_db + '/' + files[0])
# c =  conn.cursor()
# c.execute("SELECT name FROM sqlite_master WHERE type='table';")
# print(c.fetchall())

In [14]:
# c.execute("SELECT * FROM accfeat;")
# row = c.fetchall()
# conn.commit()

In [64]:
'''
Creating Dataframe

uid, timeofday, stress, sleep, time to deadline, #of deadlines, moving, silent,
dark, charging
'''
cols = ['uid', 'time of day', 'stress', 'sleep', 'time to deadline', '# of deadlines',
       'moving', 'silent', 'dark', 'charging']

# data_df = pd.DataFrame([[0] * len(cols)] ,columns=cols)
data_df = pd.DataFrame()
val_missing = -1
for uid in uids:
    # getting stress value
    files = os.listdir(path_ema_stress)
    idx = [i for i in range(len(files)) if uid in files[i]][-1]
    
    df_stress = pd.read_json(path_ema_stress + '/' + files[idx])
    if df_stress.empty:
        continue
    # sleep file
    
    files = os.listdir(path_ema_sleep)
    t_idx = [i for i in range(len(files)) if uid in files[i]][-1]
    df_sleep = pd.read_json(path_ema_sleep + '/' + files[t_idx])
    
    if df_sleep.empty:
        continue
    # exercise file
    
    files = os.listdir(path_ema_exercise)
    t_idx = [i for i in range(len(files)) if uid in files[i]][-1]
    df_exercise = pd.read_json(path_ema_exercise + '/' + files[t_idx])
    
    if df_exercise.empty:
        continue
    # deadline file

    df_deadline = pd.read_csv(path_edu_deadlines)

    deadlines = df_deadline[df_deadline['uid'] == uid]

    t_deadlines = deadlines.columns.values[1:]

    m = lambda d: datetime.datetime.strptime(d, "%Y-%m-%d")

    t_deadlines = list(map(m, t_deadlines))

    # activity files
    files = os.listdir(path_sens_activity)
    t_idx = [i for i in range(len(files)) if uid in files[i]][-1]

    df_activity = pd.read_csv(path_sens_activity + '/' + files[t_idx])
    
    # audio files
    files = os.listdir(path_sens_audio)
    t_idx = [i for i in range(len(files)) if uid in files[i]][-1] 
    df_audio = pd.read_csv(path_sens_audio + '/' + files[t_idx])
    
    # dark
    files = os.listdir(path_sens_dark)
    t_idx = [i for i in range(len(files)) if uid in files[i]][-1]
    df_dark = pd.read_csv(path_sens_dark + '/' + files[t_idx])

    # charging
    
    files = os.listdir(path_sens_charge)
    t_idx = [i for i in range(len(files)) if uid in files[i]][-1]    
    df_charging = pd.read_csv(path_sens_charge + '/' + files[t_idx])
    
    
    for i in range(len(df_stress)):
        if (math.isnan(df_stress.iloc[i]['level'])):
            continue
        
        t = {'uid': 0, 'time of day': 0, 'stress': 0, 'sleep': 0, 'exercise': 0, 'time to deadline': 0, '# of deadlines': 0,
       'moving': 0, 'silent': 0, 'dark': 0, 'charging': 0}
        
        stress_time = df_stress.iloc[i]['resp_time']
        stress_dt = datetime.datetime.strptime(stress_time.strftime("%Y-%m-%d"), "%Y-%m-%d") #fromtimestamp(stress_time.value // 10 ** 9)

        t['uid'] = uid

        t['stress'] = df_stress.iloc[i]['level']
        
        # getting timeofday
        
        h = stress_time.hour
        t['time of day'] = h // 6 # 0 - 6 : 0, 6 - 12: 1, 12 - 18: 2, 18 - 24: 3
        
        # sleep
        
        t_idx = [i for i in range(len(df_sleep['resp_time'])) if df_sleep['resp_time'].iloc[i].day == stress_time.day and 
                df_sleep['resp_time'].iloc[i].month == stress_time.month]
        if t_idx == []:
            continue
        
        t['sleep'] = df_sleep['hour'][t_idx[-1]]
        
        # Exercise
        vals = df_exercise[(df_exercise['resp_time'].apply(lambda dt: dt.day) == stress_time.day) & 
                           (df_exercise['resp_time'].apply(lambda dt: dt.month) == stress_time.month)]
        if (len(vals) > 0):
            t['exercise'] = vals.iloc[0]['exercise']
        else:
            continue
        
        # time to deadline (taking closest next deadline) 
        # find earliest time to deadline & count number of deadlines starting from response time of stress
        c = 0
        c_min = float("inf")
        min_idx = 0
        for j in range(len(t_deadlines)):
            if (len(deadlines[t_deadlines[j].strftime("%Y-%m-%d")]) == 0 or
                math.isnan(deadlines[t_deadlines[j].strftime("%Y-%m-%d")].iloc[0]) or 
                deadlines[t_deadlines[j].strftime("%Y-%m-%d")].iloc[0] == 0):
                continue
            if ((t_deadlines[j] - stress_dt).days >= 0 and  (t_deadlines[j] - stress_dt).days < c_min):
                c_min = (t_deadlines[j] - stress_dt).days
                min_idx = j
            if (deadlines[t_deadlines[j].strftime("%Y-%m-%d")].iloc[0] > 0):
                c += deadlines[t_deadlines[j].strftime("%Y-%m-%d")].iloc[0]
        
        # skip instances where no deadline is available
        if (c_min == float("inf")):
            continue
        
        t['time to deadline'] = c_min
        t['# of deadlines'] = c

        if (math.isnan(c)):
            pdb.set_trace()
        # moving or not

        stress_ut = stress_time.value // 10 ** 9
        
    
        vals = df_activity[df_activity['timestamp'] >= stress_ut]
        if (len(vals) > 0):
            t['moving'] = vals.iloc[0][' activity inference'] != 0
        else:
            t['moving'] = val_missing
        

        vals = df_audio[stress_ut <= df_audio['timestamp']]
        if (len(vals) > 0):
            t['silent'] = vals.iloc[0][' audio inference'] != 0
        else:
            t['silent'] = val_missing

        
        t['dark'] = len(df_dark[(df_dark['start'] <= stress_ut) & (df_dark['end'] >= stress_ut)]) != 0
    

        t['charging'] = len(df_charging[(df_charging['start'] <= stress_ut) & (df_charging['end'] >= stress_ut)]) != 0
        
        data_df = data_df.append(t, ignore_index=True)

In [65]:
 data_df

,# of deadlines,charging,dark,exercise,moving,silent,sleep,stress,time of day,time to deadline,uid
0,13.0,0.0,1.0,5.0,0.0,1.0,9.0,1.0,0.0,5.0,u15
1,13.0,0.0,0.0,5.0,0.0,0.0,9.0,1.0,0.0,5.0,u15
2,12.0,0.0,0.0,2.0,1.0,1.0,5.0,4.0,0.0,3.0,u31
3,20.0,1.0,1.0,5.0,0.0,0.0,7.0,4.0,1.0,5.0,u07
4,20.0,0.0,0.0,1.0,0.0,0.0,7.0,5.0,1.0,0.0,u07
5,20.0,0.0,0.0,1.0,0.0,0.0,7.0,4.0,0.0,0.0,u07
6,20.0,1.0,1.0,5.0,0.0,0.0,7.0,4.0,1.0,5.0,u07
7,20.0,0.0,1.0,5.0,0.0,1.0,7.0,4.0,2.0,5.0,u07
8,20.0,1.0,1.0,3.0,0.0,0.0,8.0,4.0,1.0,4.0,u07
9,20.0,0.0,1.0,3.0,0.0,1.0,8.0,1.0,3.0,4.0,u07
10,20.0,0.0,1.0,3.0,0.0,1.0,8.0,4.0,3.0,4.0,u07
11,20.0,0.0,0.0,1.0,0.0,0.0,6.0,4.0,0.0,5.0,u07
12,20.0,0.0,0.0,1.0,0.0,0.0,6.0,4.0,1.0,5.0,u07
13,20.0,0.0,1.0,1.0,0.0,0.0,8.0,4.0,1.0,6.0,u07
14,20.0,1.0,1.0,1.0,0.0,0.0,8.0,5.0,3.0,6.0,u07
15,16.0,0.0,0.0,1.0,1.0,0.0,8.0,1.0,0.0,4.0,u52
16,16.0,0.0,1.0,1.0,1.0,0.0,8.0,5.0,1.0,4.0,u52
17,16.0,0.0,1.0,1.0,1.0,0.0,8.0,5.0,0.0,3.0,u52
18,16.0,1.0,1.0,1.0,1.0,0.0,8.0,5.0,1.0,3.0,u52
19,16.0,0.0,0.0,1.0,0.0,1.0,6.0,3.0,3.0,0.0,u52
20,16.0,0.0,0.0,1.0,1.0,1.0,6.0,1.0,0.0,2.0,u52
21,16.0,0.0,0.0,1.0,0.0,1.0,6.0,1.0,2.0,2.0,u52
22,16.0,0.0,1.0,1.0,0.0,0.0,6.0,3.0,0.0,1.0,u52
23,16.0,0.0,0.0,1.0,0.0,0.0,6.0,3.0,3.0,1.0,u52
24,16.0,0.0,1.0,1.0,0.0,0.0,6.0,3.0,0.0,0.0,u52
25,16.0,1.0,0.0,1.0,0.0,0.0,9.0,4.0,0.0,4.0,u52
26,16.0,1.0,0.0,1.0,0.0,0.0,9.0,5.0,1.0,4.0,u52
27,15.0,1.0,1.0,3.0,0.0,0.0,6.0,1.0,1.0,5.0,u20
28,15.0,0.0,1.0,4.0,0.0,0.0,7.0,1.0,0.0,0.0,u20
29,18.0,0.0,1.0,1.0,0.0,0.0,7.0,4.0,0.0,5.0,u10
...,...,...,...,...,...,...,...,...,...,...,...
682,10.0,0.0,1.0,1.0,0.0,1.0,5.0,1.0,3.0,5.0,u01
683,10.0,0.0,1.0,1.0,0.0,1.0,5.0,2.0,0.0,5.0,u01
684,10.0,1.0,0.0,1.0,0.0,1.0,5.0,1.0,0.0,5.0,u01
685,10.0,0.0,1.0,1.0,0.0,1.0,7.0,4.0,0.0,3.0,u01
686,11.0,0.0,0.0,5.0,1.0,1.0,7.0,1.0,1.0,3.0,u25
687,11.0,0.0,1.0,5.0,0.0,0.0,8.0,2.0,3.0,0.0,u25
688,7.0,0.0,0.0,4.0,0.0,1.0,7.0,2.0,0.0,3.0,u58
689,7.0,0.0,0.0,4.0,0.0,0.0,7.0,1.0,1.0,3.0,u58
690,7.0,0.0,0.0,3.0,0.0,0.0,8.0,1.0,0.0,0.0,u58
691,7.0,0.0,1.0,1.0,0.0,1.0,5.0,2.0,0.0,4.0,u58
692,7.0,1.0,0.0,5.0,0.0,1.0,7.0,2.0,2.0,5.0,u58
693,7.0,0.0,1.0,5.0,0.0,1.0,7.0,2.0,0.0,5.0,u58
694,7.0,0.0,0.0,1.0,0.0,0.0,5.0,2.0,1.0,4.0,u58
695,7.0,0.0,0.0,1.0,0.0,0.0,4.0,1.0,3.0,3.0,u58
696,7.0,0.0,0.0,5.0,0.0,0.0,6.0,5.0,0.0,1.0,u58
697,7.0,1.0,1.0,1.0,0.0,1.0,7.0,2.0,0.0,0.0,u58
698,7.0,0.0,1.0,5.0,0.0,0.0,6.0,1.0,0.0,6.0,u58
699,7.0,0.0,1.0,5.0,0.0,0.0,6.0,5.0,2.0,7.0,u58
700,7.0,0.0,0.0,5.0,0.0,0.0,6.0,1.0,1.0,7.0,u58
701,7.0,0.0,0.0,3.0,0.0,0.0,7.0,2.0,3.0,2.0,u58
702,7.0,0.0,1.0,3.0,0.0,0.0,5.0,1.0,1.0,0.0,u58
703,7.0,0.0,1.0,1.0,0.0,0.0,9.0,2.0,0.0,12.0,u58
704,7.0,0.0,1.0,3.0,0.0,1.0,5.0,2.0,3.0,0.0,u58
705,7.0,0.0,0.0,1.0,0.0,1.0,4.0,5.0,0.0,0.0,u58
706,7.0,0.0,0.0,1.0,1.0,1.0,6.0,2.0,3.0,13.0,u58
707,7.0,1.0,1.0,1.0,0.0,0.0,9.0,2.0,3.0,12.0,u58
708,7.0,0.0,0.0,1.0,0.0,0.0,9.0,1.0,3.0,1.0,u58
709,12.0,1.0,1.0,3.0,0.0,0.0,8.0,1.0,1.0,3.0,u02
710,12.0,0.0,0.0,1.0,0.0,0.0,7.0,1.0,3.0,0.0,u02
711,12.0,1.0,0.0,1.0,0.0,0.0,7.0,1.0,0.0,0.0,u02

## Random Forest

In [66]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble        import RandomForestClassifier 
from sklearn.model_selection import cross_val_score

In [67]:
cols = data_df.columns.values
train_cols = [col for col in cols if (col != 'stress') and (col != 'uid')]

train_df = data_df[:][train_cols]
label_df = data_df[:]['stress']

In [68]:
train_df.head()

,# of deadlines,charging,dark,exercise,moving,silent,sleep,time of day,time to deadline
0,13.0,0.0,1.0,5.0,0.0,1.0,9.0,0.0,5.0
1,13.0,0.0,0.0,5.0,0.0,0.0,9.0,0.0,5.0
2,12.0,0.0,0.0,2.0,1.0,1.0,5.0,0.0,3.0
3,20.0,1.0,1.0,5.0,0.0,0.0,7.0,1.0,5.0
4,20.0,0.0,0.0,1.0,0.0,0.0,7.0,1.0,0.0

In [69]:
label_df.head()

0    1.0
1    1.0
2    4.0
3    4.0
4    5.0
Name: stress, dtype: float64

In [70]:
train_data = train_df.values
label_data = label_df.values

In [71]:
np.where(np.isinf(train_data))

(array([], dtype=int64), array([], dtype=int64))

In [72]:
np.where(np.isinf(label_data))

(array([], dtype=int64),)

In [73]:
train_data.sum(0)

array([ 18034.,    164.,    320.,   1182.,     70.,    232.,   5026.,
          883.,   1589.])

In [75]:
clf = RandomForestClassifier(n_estimators=100)
scores = cross_val_score(clf, train_data, label_data, cv=5)
scores

array([ 0.27083333,  0.38461538,  0.25352113,  0.12676056,  0.26241135])