In [2]:
import os
import numpy as np
import pandas as pd
import re
import math
import pdb
import datetime
import time

# Loading StudentLife dataset

In [3]:
path = './dataset/dataset' # dir to datatset

os.listdir(path)

['app_usage',
 'calendar',
 'call_log',
 'dinning',
 'education',
 'EMA',
 'rawaccfeat',
 'sensing',
 'sms',
 'survey']

## Loading EMA data

In [4]:
''' 
Directories of interest

stress, sleep, exercise, deadlines, lighting, audio, charging

'''
path_db = './dataset' + '/rawaccfeat'

# ema
path_ema = path + '/EMA'
path_ema_response = path_ema + '/response'
path_ema_stress = path_ema_response + '/Stress'
path_ema_sleep = path_ema_response + '/Sleep'
path_ema_exercise = path_ema_response + '/Exercise'


# education
path_edu = path + '/education'
path_edu_deadlines = path_edu + '/deadlines.csv'

# sensing

path_sens = path + '/sensing'
path_sens_activity = path_sens + '/activity'
path_sens_dark = path_sens + '/dark'
path_sens_charge = path_sens + '/phonecharge'
path_sens_audio = path_sens + '/audio'

In [5]:
'''
Id's of interest are the ones that recorded: 
                                            stress, 
                                            exercise, 
                                            deadlines.
'''
regex = r'(u\d{2})'

files = os.listdir(path_ema_stress)
ids_with_stress = [re.search(regex, file).group(0) for file in files]

files = os.listdir(path_ema_exercise)
ids_with_exercise = [re.search(regex, file).group(0) for file in files]

df_deadline = pd.read_csv(path_edu_deadlines)
ids_with_deadlines = list(df_deadline['uid'])

uids = set(ids_with_stress + ids_with_exercise + ids_with_deadlines)

uids = {uid for uid in uids if uid in ids_with_deadlines and 
                               uid in ids_with_exercise  and 
                               uid in ids_with_stress}
# uids = list(uids)
len(uids)

44

In [6]:
'''
EMA definitions
'''
files = os.listdir(path_ema)
df_EMA_def = pd.read_json(path_ema + '/' + 'EMA_definition.json')
df_EMA_def
# df_EMA_def.iloc[7]['questions']

,name,questions
0,Social,"[{'options': '[1]0-4 persons, [2]5-9 persons, ..."
1,Class,"[{'options': '', 'question_id': 'course_id', '..."
2,Comment,"[{'options': '', 'question_id': 'comment', 'qu..."
3,Stress,"[{'options': '[1]A little stressed, [2]Definit..."
4,Sleep,"[{'options': '[1]<3, [2]3.5, [3]4, [4]4.5, [5]..."
5,Activity,"[{'options': '[1]0-10%, [2]11-25%, [3]26-50%, ..."
6,Behavior,[{'options': '(Not at all) 1 2 3 4 5 (Extremel...
7,Exercise,"[{'options': '(Yes) 1 2 (No)', 'question_id': ..."
8,Study Spaces,"[{'options': '', 'question_id': 'place', 'ques..."
9,Do Campbell's jokes suck?,"[{'options': '[1]Great, [2]OK, [3]Terrible, ',..."
10,Events,"[{'options': '[1]1, [2]2, [3]3, [4]4, [5]5, [6..."
11,Boston Bombing,"[{'options': '[1]sadness, [2]anger, [3]fear, [..."
12,Dimensions,"[{'options': '', 'question_id': 'describe', 'q..."
13,Dartmouth now,"[{'options': '[1]Not at all, [2]Slightly, [3]M..."
14,Dining Halls,"[{'options': '[1]Collis, [2]Hop, [3]Foco, [4]K..."
15,Lab,"[{'options': '[1]Strongly agree, [2]agree, [3]..."
16,Mood,"[{'options': '(Yes) 1 2 (No)', 'question_id': ..."
17,Mood 2,"[{'options': '[1]happy, [2]stressed, [3]tired,..."
18,Cancelled Classes,"[{'options': '', 'question_id': 'words', 'ques..."
19,Dimensions protestors,"[{'options': '[1]Not at all, [2]Slightly, [3]M..."
20,Mood 1,"[{'options': '[1]happy, [2]stressed, [3]tired,..."
21,Class 2,"[{'options': '[1]Agree Strongly, [2]Agree Mode..."
22,Administration's response,"[{'options': '[1]Not at all, [2]Slightly, [3]M..."
23,Green Key 2,"[{'options': '[1]Seeing old friends, [2]Partie..."
24,Green Key 1,"[{'options': '', 'question_id': 'meaning', 'qu..."

In [7]:
'''
Loading stress files
'''
files = os.listdir(path_ema_stress)
df_s = pd.read_json(path_ema_stress + '/' + files[0])
df_s

,level,location,null,resp_time
0,NaN,NaN,"43.75908069,-72.32885314",2013-03-24 08:40:01
1,NaN,NaN,"43.75908069,-72.32885314",2013-03-24 08:40:58
2,NaN,NaN,"43.70677151,-72.28746626",2013-03-25 02:16:45
3,NaN,NaN,1,2013-03-25 00:00:18
4,NaN,NaN,1,2013-03-25 02:16:49
5,2.0,"43.70692415,-72.2873929",NaN,2013-03-25 18:54:56
6,2.0,"43.70555193,-72.28704778",NaN,2013-03-26 03:33:26
7,2.0,"43.70555193,-72.28704778",NaN,2013-03-26 03:33:34
8,1.0,"43.70678675,-72.28732051",NaN,2013-03-27 01:12:20
9,4.0,"43.70032217,-72.28941584",NaN,2013-03-28 22:19:12
10,1.0,"43.70508322,-72.28677496",NaN,2013-03-28 02:25:27
11,2.0,"43.70541477,-72.28837166",NaN,2013-03-28 19:25:54
12,2.0,"43.70514505,-72.28786512",NaN,2013-03-28 18:43:12
13,3.0,"43.70492199,-72.28765189",NaN,2013-03-28 19:17:25
14,4.0,"43.70671614,-72.28750076",NaN,2013-03-29 02:05:54
15,1.0,"43.70466313,-72.30515871",NaN,2013-03-29 15:57:22
16,4.0,"43.70540958,-72.28769817",NaN,2013-03-28 21:08:14
17,1.0,"43.70045799,-72.28948963",NaN,2013-03-29 20:54:17
18,4.0,"43.70045799,-72.28948963",NaN,2013-03-29 23:08:06
19,4.0,"43.70664323,-72.28735129",NaN,2013-03-30 04:19:24
20,4.0,"43.75914412,-72.32945574",NaN,2013-03-31 17:54:45
21,5.0,"43.75933742,-72.32887548",NaN,2013-03-31 22:55:27
22,2.0,"43.64517111,-72.34052885",NaN,2013-04-03 00:40:08
23,4.0,"43.70708859,-72.28753397",NaN,2013-04-04 00:27:29
24,1.0,Unknown,NaN,2013-04-02 22:17:41
25,1.0,"43.70718896,-72.28657272",NaN,2013-04-03 16:26:59
26,1.0,"43.70708859,-72.28753397",NaN,2013-04-04 14:59:44
27,2.0,"43.70708859,-72.28753397",NaN,2013-04-04 19:04:18
28,4.0,"43.70708859,-72.28753397",NaN,2013-04-04 23:25:24
29,2.0,"43.70708859,-72.28753397",NaN,2013-04-05 15:02:38
...,...,...,...,...
49,1.0,Unknown,NaN,2013-04-28 20:00:12
50,3.0,"43.70671166,-72.28752047",NaN,2013-04-30 04:27:01
51,4.0,"43.75925379,-72.32896315",NaN,2013-05-15 02:41:36
52,1.0,"45.4395125,12.34123283",NaN,2013-05-08 18:16:25
53,5.0,"45.43405923,12.34411871",NaN,2013-05-08 18:16:24
54,4.0,"43.70577916,-72.28646757",NaN,2013-05-16 02:11:34
55,4.0,Unknown,NaN,2013-05-09 03:44:02
56,1.0,"48.85374768,2.32779888",NaN,2013-05-07 00:31:32
57,1.0,"43.70342306,-72.28790457",NaN,2013-05-15 20:49:45
58,4.0,"43.6853331,-72.3136472",NaN,2013-05-17 02:00:27
59,4.0,"43.7590614,-72.32948628",NaN,2013-05-17 19:45:07
60,4.0,Unknown,NaN,2013-05-18 02:29:17
61,1.0,"43.75896264,-72.32915927",NaN,2013-05-20 04:03:56
62,2.0,"43.71426733,-72.30833474",NaN,2013-05-21 15:57:18
63,1.0,"43.70685166,-72.28720734",NaN,2013-05-22 04:11:19
64,1.0,"43.70092569,-72.2894562",NaN,2013-05-22 20:03:32
65,1.0,"43.70092569,-72.2894562",NaN,2013-05-22 19:41:14
66,1.0,Unknown,NaN,2013-05-23 17:06:35
67,1.0,"43.7030517,-72.28273911",NaN,2013-05-24 07:08:54
68,1.0,Unknown,NaN,2013-05-23 19:19:10
69,2.0,"38.90571134,-77.03395507",NaN,2013-05-25 04:00:14
70,1.0,"43.70090859,-72.28580049",NaN,2013-05-24 21:26:10
71,1.0,"38.9057069,-77.03396292",NaN,2013-05-25 06:14:16
72,2.0,Unknown,NaN,2013-05-25 15:53:56
73,3.0,Unknown,NaN,2013-05-25 16:39:10
74,1.0,"43.75910573,-72.32818315",NaN,2013-06-03 06:00:04
75,1.0,"43.7020707,-72.28920131",NaN,2013-08-07 01:48:04
76,3.0,"43.71339054,-72.30883507",NaN,2013-08-08 00:47:33
77,1.0,"43.70579481,-72.28577693",NaN,2013-08-10 03:44:40
78,2.0,"43.70670762,-72.28743459",NaN,2013-08-16 00:56:08

In [8]:
'''
Loading exercise files
'''

files = os.listdir(path_ema_exercise)
ids_with_exercise 

df_EMA_exercise_sample = pd.read_json(path_ema_exercise + '/' + files[0])
list(df_EMA_exercise_sample['resp_time'][:].astype(np.int64) // 10 ** 9)

[1364960606,
 1364828138,
 1364836376,
 1364875433,
 1365035283,
 1365041024,
 1365214761,
 1365129591,
 1365194271,
 1365359708,
 1365299772,
 1365571498,
 1366230462,
 1365807244,
 1366166684,
 1366250666,
 1366345779,
 1366604608,
 1366783707,
 1367203093,
 1367796624,
 1368036983,
 1368677250,
 1368767527,
 1368042700,
 1368915663,
 1369001965,
 1370032055,
 1369512401,
 1369772697,
 1369861447,
 1369944425,
 1370117845,
 1370386862,
 1370474328,
 1370228689,
 1375840036]

In [9]:
'''
Loading activity dataset
'''

files = os.listdir(path_sens_activity)

df_s = pd.read_csv(path_sens_activity + '/' + files[0])
df_s

         timestamp   activity inference
0       1364356801                    0
1       1364356804                    0
2       1364356807                    0
3       1364356809                    0
4       1364356992                    0
5       1364356995                    0
6       1364356997                    0
7       1364357000                    0
8       1364357002                    0
9       1364357005                    0
10      1364357008                    0
11      1364357010                    0
12      1364357013                    0
13      1364357015                    0
14      1364357018                    0
15      1364357020                    0
16      1364357023                    0
17      1364357026                    0
18      1364357028                    0
19      1364357031                    0
20      1364357033                    0
21      1364357036                    0
22      1364357039                    0
23      1364357041                    0
24      1364357044                    0
25      1364357046                    0
26      1364357049                    0
27      1364357232                    0
28      1364357234                    0
29      1364357237                    0
...            ...                  ...
461961  1370048334                    0
461962  1370048337                    0
461963  1370048339                    0
461964  1370048342                    0
461965  1370048344                    0
461966  1370048347                    0
461967  1370048350                    0
461968  1370048352                    0
461969  1370048355                    0
461970  1370048357                    3
461971  1370048360                    3
461972  1370048363                    3
461973  1370048365                    3
461974  1370048368                    3
461975  1370048370                    3
461976  1370048373                    0
461977  1370048561                    0
461978  1370048577                    0
461979  1370048579                    0
461980  1370048582                    0
461981  1370048584                    0
461982  1370048587                    0
461983  1370048590                    0
461984  1370048592                    0
461985  1370048597                    0
461986  1370048602                    0
461987  1370048605                    0
461988  1370048608                    3
461989  1370048610                    3
461990  1370048613                    3

[461991 rows x 2 columns]

In [10]:
'''
Loading light dataset
'''

files = os.listdir(path_sens_dark)

df_s = pd.read_csv(path_sens_dark + '/' + files[0])
df_s

          start         end
0    1364365266  1364385049
1    1364386302  1364391007
2    1364406347  1364411324
3    1364425558  1364429485
4    1364497400  1364502343
5    1364520813  1364529323
6    1364541482  1364556077
7    1364558746  1364563171
8    1364570994  1364574706
9    1364579064  1364584067
10   1364587565  1364600472
11   1364670659  1364679800
12   1364742092  1364747925
13   1364753002  1364760677
14   1364769968  1364787645
15   1364787651  1364815345
16   1364838234  1364844604
17   1364903822  1364911259
18   1364911273  1364925403
19   1364931460  1364935187
20   1364935270  1364939038
21   1364939336  1364949771
22   1364950676  1364963712
23   1364969517  1364986780
24   1365002852  1365007377
25   1365011044  1365016284
26   1365016601  1365020438
27   1365020966  1365026579
28   1365026714  1365032414
29   1365118132  1365122311
..          ...         ...
154  1368374761  1368379064
155  1368397023  1368401432
156  1368457030  1368466206
157  1368466753  1368471533
158  1368485407  1368490438
159  1368490439  1368494379
160  1368494507  1368529719
161  1368630683  1368636573
162  1368641749  1368647420
163  1368651845  1368655885
164  1368745295  1368750157
165  1368757698  1368783689
166  1368983049  1368987547
167  1368998660  1369007145
168  1369337350  1369341238
169  1369410911  1369416660
170  1369482011  1369486285
171  1369582899  1369592080
172  1369600593  1369618454
173  1369620007  1369654145
174  1369743153  1369749255
175  1369758639  1369763736
176  1369766216  1369770972
177  1369785451  1369791570
178  1369871808  1369875657
179  1369930054  1369935166
180  1369956428  1369961666
181  1369965780  1369998853
182  1370006702  1370011039
183  1370039920  1370043842

[184 rows x 2 columns]

In [11]:
# files = os.listdir(path_db)
# conn = sqlite3.connect(path_db + '/' + files[0])
# c =  conn.cursor()
# c.execute("SELECT name FROM sqlite_master WHERE type='table';")
# print(c.fetchall())

In [12]:
# c.execute("SELECT * FROM accfeat;")
# row = c.fetchall()
# conn.commit()

In [13]:
'''
Creating Dataframe

uid, timeofday, stress, sleep, time to deadline, #of deadlines, moving, silent,
dark, charging
'''
cols = ['uid', 'time of day', 'stress', 'sleep', 'time to deadline', '# of deadlines',
       'moving', 'silent', 'dark', 'charging']

# data_df = pd.DataFrame([[0] * len(cols)] ,columns=cols)
data_df = pd.DataFrame()
val_missing = -1
for uid in uids:
    # getting stress value
    files = os.listdir(path_ema_stress)
    idx = [i for i in range(len(files)) if uid in files[i]][-1]
    
    df_stress = pd.read_json(path_ema_stress + '/' + files[idx])
    if df_stress.empty:
        continue
    # sleep file
    
    files = os.listdir(path_ema_sleep)
    t_idx = [i for i in range(len(files)) if uid in files[i]][-1]
    df_sleep = pd.read_json(path_ema_sleep + '/' + files[t_idx])
    
    if df_sleep.empty:
        continue
    # exercise file
    
    files = os.listdir(path_ema_exercise)
    t_idx = [i for i in range(len(files)) if uid in files[i]][-1]
    df_exercise = pd.read_json(path_ema_exercise + '/' + files[t_idx])
    
    if df_exercise.empty:
        continue
    # deadline file

    df_deadline = pd.read_csv(path_edu_deadlines)

    deadlines = df_deadline[df_deadline['uid'] == uid]

    t_deadlines = deadlines.columns.values[1:]

    m = lambda d: datetime.datetime.strptime(d, "%Y-%m-%d")

    t_deadlines = list(map(m, t_deadlines))

    # activity files
    files = os.listdir(path_sens_activity)
    t_idx = [i for i in range(len(files)) if uid in files[i]][-1]

    df_activity = pd.read_csv(path_sens_activity + '/' + files[t_idx])
    
    # audio files
    files = os.listdir(path_sens_audio)
    t_idx = [i for i in range(len(files)) if uid in files[i]][-1] 
    df_audio = pd.read_csv(path_sens_audio + '/' + files[t_idx])
    
    # dark
    files = os.listdir(path_sens_dark)
    t_idx = [i for i in range(len(files)) if uid in files[i]][-1]
    df_dark = pd.read_csv(path_sens_dark + '/' + files[t_idx])

    # charging
    
    files = os.listdir(path_sens_charge)
    t_idx = [i for i in range(len(files)) if uid in files[i]][-1]    
    df_charging = pd.read_csv(path_sens_charge + '/' + files[t_idx])
    
    
    for i in range(len(df_stress)):
        if (math.isnan(df_stress.iloc[i]['level'])):
            continue
        
        t = {'uid': 0, 'time of day': 0, 'stress': 0, 'sleep': 0, 'exercise': 0, 'time to deadline': 0, '# of deadlines': 0,
       'moving': 0, 'silent': 0, 'dark': 0, 'charging': 0}
        
        stress_time = df_stress.iloc[i]['resp_time']
        stress_dt = datetime.datetime.strptime(stress_time.strftime("%Y-%m-%d"), "%Y-%m-%d") #fromtimestamp(stress_time.value // 10 ** 9)

        t['uid'] = uid

        t['stress'] = df_stress.iloc[i]['level']
        
        # getting timeofday
        
        h = stress_time.hour
        t['time of day'] = h // 6 # 0 - 6 : 0, 6 - 12: 1, 12 - 18: 2, 18 - 24: 3
        
        # sleep
        
        t_idx = [i for i in range(len(df_sleep['resp_time'])) if df_sleep['resp_time'].iloc[i].day == stress_time.day and 
                df_sleep['resp_time'].iloc[i].month == stress_time.month]
        if t_idx == []:
            continue
        
        t['sleep'] = df_sleep['hour'][t_idx[-1]]
        
        # Exercise
        vals = df_exercise[(df_exercise['resp_time'].apply(lambda dt: dt.day) == stress_time.day) & 
                           (df_exercise['resp_time'].apply(lambda dt: dt.month) == stress_time.month)]
        if (len(vals) > 0):
            t['exercise'] = vals.iloc[0]['exercise']
        else:
            continue
        
        # time to deadline (taking closest next deadline) 
        # find earliest time to deadline & count number of deadlines starting from response time of stress
        c = 0
        c_min = float("inf")
        min_idx = 0
        for j in range(len(t_deadlines)):
            if (len(deadlines[t_deadlines[j].strftime("%Y-%m-%d")]) == 0 or
                math.isnan(deadlines[t_deadlines[j].strftime("%Y-%m-%d")].iloc[0]) or 
                deadlines[t_deadlines[j].strftime("%Y-%m-%d")].iloc[0] == 0):
                continue
            if ((t_deadlines[j] - stress_dt).days >= 0 and  (t_deadlines[j] - stress_dt).days < c_min):
                c_min = (t_deadlines[j] - stress_dt).days
                min_idx = j
            if (deadlines[t_deadlines[j].strftime("%Y-%m-%d")].iloc[0] > 0):
                c += deadlines[t_deadlines[j].strftime("%Y-%m-%d")].iloc[0]
        
        # skip instances where no deadline is available
        if (c_min == float("inf")):
            continue
        
        t['time to deadline'] = c_min
        t['# of deadlines'] = c

        if (math.isnan(c)):
            pdb.set_trace()
        # moving or not

        stress_ut = stress_time.value // 10 ** 9
        
    
        vals = df_activity[df_activity['timestamp'] >= stress_ut]
        if (len(vals) > 0):
            t['moving'] = vals.iloc[0][' activity inference'] != 0
        else:
            t['moving'] = val_missing
        

        vals = df_audio[stress_ut <= df_audio['timestamp']]
        if (len(vals) > 0):
            t['silent'] = vals.iloc[0][' audio inference'] != 0
        else:
            t['silent'] = val_missing

        
        t['dark'] = len(df_dark[(df_dark['start'] <= stress_ut) & (df_dark['end'] >= stress_ut)]) != 0
    

        t['charging'] = len(df_charging[(df_charging['start'] <= stress_ut) & (df_charging['end'] >= stress_ut)]) != 0
        
        data_df = data_df.append(t, ignore_index=True)

In [14]:
 data_df

,# of deadlines,charging,dark,exercise,moving,silent,sleep,stress,time of day,time to deadline,uid
0,52.0,0.0,1.0,4.0,0.0,0.0,7.0,1.0,2.0,3.0,u59
1,52.0,0.0,1.0,1.0,0.0,1.0,5.0,5.0,0.0,1.0,u59
2,52.0,0.0,1.0,1.0,0.0,1.0,5.0,5.0,3.0,2.0,u59
3,52.0,0.0,1.0,1.0,0.0,1.0,5.0,1.0,0.0,2.0,u59
4,52.0,0.0,1.0,1.0,1.0,1.0,5.0,4.0,3.0,2.0,u59
5,52.0,0.0,1.0,1.0,1.0,1.0,5.0,4.0,2.0,2.0,u59
6,52.0,0.0,1.0,1.0,0.0,1.0,5.0,1.0,0.0,1.0,u59
7,52.0,0.0,0.0,4.0,1.0,1.0,7.0,4.0,0.0,3.0,u59
8,52.0,0.0,0.0,4.0,0.0,1.0,7.0,1.0,0.0,3.0,u59
9,52.0,1.0,1.0,4.0,1.0,1.0,7.0,1.0,1.0,3.0,u59
10,52.0,0.0,1.0,1.0,1.0,1.0,5.0,4.0,3.0,2.0,u59
11,52.0,0.0,1.0,1.0,0.0,1.0,5.0,1.0,2.0,2.0,u59
12,52.0,0.0,1.0,4.0,0.0,1.0,7.0,1.0,3.0,3.0,u59
13,52.0,0.0,1.0,1.0,0.0,1.0,5.0,1.0,0.0,2.0,u59
14,52.0,0.0,1.0,4.0,0.0,1.0,7.0,1.0,3.0,3.0,u59
15,52.0,0.0,1.0,4.0,0.0,1.0,7.0,1.0,3.0,3.0,u59
16,52.0,0.0,1.0,1.0,1.0,0.0,5.0,1.0,0.0,2.0,u59
17,52.0,0.0,0.0,1.0,0.0,0.0,5.0,1.0,0.0,2.0,u59
18,52.0,1.0,1.0,1.0,1.0,1.0,5.0,1.0,1.0,2.0,u59
19,52.0,0.0,0.0,1.0,0.0,1.0,5.0,4.0,2.0,2.0,u59
20,52.0,0.0,0.0,1.0,0.0,0.0,5.0,4.0,0.0,1.0,u59
21,52.0,1.0,1.0,1.0,1.0,1.0,5.0,1.0,1.0,1.0,u59
22,52.0,0.0,1.0,1.0,0.0,0.0,5.0,1.0,3.0,1.0,u59
23,52.0,0.0,1.0,1.0,1.0,1.0,5.0,1.0,2.0,1.0,u59
24,52.0,1.0,0.0,1.0,0.0,0.0,3.0,1.0,0.0,0.0,u59
25,52.0,1.0,0.0,1.0,0.0,0.0,3.0,1.0,0.0,0.0,u59
26,52.0,1.0,0.0,1.0,0.0,0.0,3.0,2.0,0.0,0.0,u59
27,52.0,0.0,1.0,1.0,0.0,1.0,3.0,2.0,0.0,0.0,u59
28,52.0,0.0,1.0,1.0,0.0,0.0,3.0,2.0,0.0,0.0,u59
29,52.0,1.0,0.0,1.0,0.0,0.0,3.0,1.0,0.0,0.0,u59
...,...,...,...,...,...,...,...,...,...,...,...
682,18.0,1.0,0.0,1.0,0.0,0.0,8.0,2.0,1.0,0.0,u08
683,18.0,0.0,0.0,1.0,0.0,0.0,8.0,3.0,0.0,4.0,u08
684,18.0,0.0,1.0,1.0,0.0,0.0,8.0,2.0,1.0,0.0,u08
685,18.0,1.0,0.0,1.0,0.0,0.0,7.0,3.0,0.0,2.0,u08
686,18.0,0.0,0.0,1.0,0.0,0.0,8.0,3.0,3.0,4.0,u08
687,18.0,0.0,0.0,1.0,0.0,1.0,6.0,3.0,0.0,1.0,u08
688,18.0,1.0,1.0,1.0,0.0,0.0,6.0,1.0,1.0,1.0,u08
689,18.0,0.0,0.0,1.0,1.0,1.0,6.0,2.0,3.0,1.0,u08
690,18.0,1.0,1.0,1.0,0.0,0.0,6.0,1.0,1.0,1.0,u08
691,18.0,1.0,1.0,1.0,0.0,0.0,6.0,1.0,1.0,1.0,u08
692,18.0,1.0,1.0,1.0,0.0,0.0,6.0,1.0,1.0,1.0,u08
693,18.0,1.0,1.0,1.0,0.0,0.0,6.0,1.0,1.0,1.0,u08
694,18.0,1.0,1.0,1.0,0.0,0.0,6.0,1.0,1.0,1.0,u08
695,18.0,1.0,1.0,1.0,0.0,0.0,6.0,1.0,1.0,1.0,u08
696,18.0,1.0,1.0,1.0,0.0,0.0,6.0,1.0,1.0,1.0,u08
697,18.0,1.0,1.0,5.0,0.0,0.0,8.0,3.0,1.0,2.0,u08
698,18.0,0.0,1.0,1.0,0.0,0.0,8.0,2.0,0.0,0.0,u08
699,18.0,0.0,0.0,1.0,0.0,0.0,9.0,2.0,3.0,2.0,u08
700,20.0,1.0,1.0,5.0,0.0,0.0,7.0,4.0,1.0,5.0,u07
701,20.0,0.0,0.0,1.0,0.0,0.0,7.0,5.0,1.0,0.0,u07
702,20.0,0.0,0.0,1.0,0.0,0.0,7.0,4.0,0.0,0.0,u07
703,20.0,1.0,1.0,5.0,0.0,0.0,7.0,4.0,1.0,5.0,u07
704,20.0,0.0,1.0,5.0,0.0,1.0,7.0,4.0,2.0,5.0,u07
705,20.0,1.0,1.0,3.0,0.0,0.0,8.0,4.0,1.0,4.0,u07
706,20.0,0.0,1.0,3.0,0.0,1.0,8.0,1.0,3.0,4.0,u07
707,20.0,0.0,1.0,3.0,0.0,1.0,8.0,4.0,3.0,4.0,u07
708,20.0,0.0,0.0,1.0,0.0,0.0,6.0,4.0,0.0,5.0,u07
709,20.0,0.0,0.0,1.0,0.0,0.0,6.0,4.0,1.0,5.0,u07
710,20.0,0.0,1.0,1.0,0.0,0.0,8.0,4.0,1.0,6.0,u07
711,20.0,1.0,1.0,1.0,0.0,0.0,8.0,5.0,3.0,6.0,u07

## Random Forest

In [32]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble        import RandomForestClassifier
from sklearn.ensemble        import RandomForestRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

In [16]:
cols = data_df.columns.values
train_cols = [col for col in cols if (col != 'stress') and (col != 'uid')]

train_df = data_df[:][train_cols]
label_df = data_df[:]['stress']

In [17]:
train_df.head()

,# of deadlines,charging,dark,exercise,moving,silent,sleep,time of day,time to deadline
0,52.0,0.0,1.0,4.0,0.0,0.0,7.0,2.0,3.0
1,52.0,0.0,1.0,1.0,0.0,1.0,5.0,0.0,1.0
2,52.0,0.0,1.0,1.0,0.0,1.0,5.0,3.0,2.0
3,52.0,0.0,1.0,1.0,0.0,1.0,5.0,0.0,2.0
4,52.0,0.0,1.0,1.0,1.0,1.0,5.0,3.0,2.0

In [18]:
label_df.head()

0    1.0
1    5.0
2    5.0
3    1.0
4    4.0
Name: stress, dtype: float64

In [19]:
train_data = train_df.values
label_data = label_df.values

In [20]:
np.where(np.isinf(train_data))

(array([], dtype=int64), array([], dtype=int64))

In [21]:
np.where(np.isinf(label_data))

(array([], dtype=int64),)

In [25]:
train_data.shape[1]

9

In [ ]:
delete_class = 2
delete_idx = np.delete()

In [36]:
# clf = RandomForestClassifier(n_estimators=300, class_weight='auto', criterion='entropy',
#                              max_features=train_data.shape[1], min_samples_split=2)

clf = RandomForestRegressor(n_estimators=300, criterion='mse',
                             max_features=train_data.shape[1], min_samples_split=2)
X_train, X_test, Y_train, Y_test = train_test_split(train_data, label_data, 
                                                    test_size=0.2, random_state=0)
clf.fit(X_train, Y_train)
clf.score(X_test, Y_test)
# clf.predict(X_test[3].reshape(1, -1))
# clf = clf.fit(X_train, Y_train)
# clf.predict(X_test[3].reshape(1, -1))
# scores = cross_val_score(clf, train_data, label_data, cv=5)
# scores

-0.075190119657249088

In [37]:
clf.predict(X_test)

array([ 2.92825   ,  2.82329365,  2.609     ,  1.41333333,  3.97133333,
        4.4975    ,  1.92666667,  1.96888889,  1.43266667,  2.46772222,
        2.93777778,  1.77388889,  2.17107011,  2.87      ,  1.56628571,
        1.11333333,  2.83388889,  1.75715873,  1.78      ,  2.30844444,
        1.83955556,  2.15633333,  2.86      ,  2.89999206,  2.89999206,
        2.88575   ,  1.21333333,  3.151     ,  1.615     ,  2.47511111,
        2.38979365,  2.80515212,  3.75111111,  1.43416667,  2.55277778,
        2.76157143,  1.17333333,  2.51333333,  2.67      ,  1.85061111,
        2.36111111,  2.7425    ,  4.22633333,  1.08333333,  2.04291667,
        2.25083333,  2.74420635,  2.10933333,  1.94087302,  2.015     ,
        1.97166667,  2.76305556,  2.17107011,  3.20666667,  2.40611111,
        1.59166667,  1.955     ,  1.80192063,  2.11935714,  1.93538889,
        2.91083333,  2.15942857,  2.83466667,  2.12405556,  3.46929365,
        2.14134921,  1.09      ,  2.94666667,  2.22871429,  1.08333333,
        2.5       ,  3.74303175,  3.38966667,  1.59166667,  3.33083333,
        3.47694444,  1.95472222,  1.194     ,  1.9       ,  2.56666667,
        1.52      ,  2.90173016,  2.95871068,  1.58375794,  4.00022222,
        1.69171164,  1.945     ,  2.25966667,  2.31421429,  2.80133333,
        2.15      ,  1.80136508,  1.42666667,  3.60266667,  1.56628571,
        3.3683373 ,  1.48666667,  4.02833333,  1.41333333,  1.77511111,
        2.58033333,  3.44666667,  3.03538889,  1.58637302,  3.34255556,
        1.194     ,  2.281     ,  1.        ,  1.86444444,  1.62      ,
        2.23866667,  1.94833333,  2.32642857,  3.56188095,  2.07280952,
        3.11833333,  1.71638889,  2.73215873,  1.55638889,  2.55433333,
        2.59125   ,  2.52388889,  1.28105556,  2.81104762,  3.53166667,
        2.21238889,  1.88916667,  1.89194444,  2.14666667,  1.95333333,
        1.9565    ,  2.55284127,  1.85777778,  1.77333333,  2.42981217,
        1.45166667,  1.83      ,  1.84888889,  3.1448836 ,  2.0125    ,
        1.82833333,  2.17583333,  2.213     ])

In [42]:
Y_test

array([ 1.,  1.,  1.,  1.,  5.,  2.,  3.,  1.,  1.,  5.,  5.,  4.,  4.,
        4.,  3.,  1.,  1.,  1.,  1.,  2.,  2.,  1.,  1.,  1.,  1.,  1.,
        1.,  1.,  3.,  1.,  1.,  4.,  1.,  1.,  2.,  3.,  5.,  1.,  1.,
        4.,  5.,  1.,  4.,  1.,  3.,  2.,  4.,  1.,  2.,  2.,  1.,  4.,
        1.,  5.,  2.,  2.,  2.,  1.,  3.,  2.,  4.,  2.,  2.,  2.,  4.,
        1.,  1.,  3.,  1.,  1.,  1.,  5.,  4.,  1.,  3.,  4.,  4.,  3.,
        1.,  4.,  2.,  5.,  4.,  5.,  4.,  1.,  1.,  4.,  3.,  1.,  2.,
        4.,  2.,  1.,  1.,  1.,  4.,  1.,  1.,  1.,  1.,  4.,  1.,  2.,
        4.,  1.,  4.,  1.,  1.,  2.,  1.,  2.,  5.,  1.,  2.,  1.,  1.,
        3.,  4.,  1.,  3.,  4.,  5.,  2.,  1.,  1.,  1.,  2.,  1.,  2.,
        4.,  4.,  1.,  1.,  1.,  4.,  1.,  1.,  2.,  3.,  2.,  1.,  1.])

In [41]:
(Y_test - clf.predict(X_test)) // 10

array([-1., -1., -1., -1.,  0., -1.,  0., -1., -1.,  0.,  0.,  0.,  0.,
        0.,  0., -1., -1., -1., -1., -1.,  0., -1., -1., -1., -1., -1.,
       -1., -1.,  0., -1., -1.,  0., -1., -1., -1.,  0.,  0., -1., -1.,
        0.,  0., -1., -1., -1.,  0., -1.,  0., -1.,  0., -1., -1.,  0.,
       -1.,  0., -1.,  0.,  0., -1.,  0.,  0.,  0., -1., -1., -1.,  0.,
       -1., -1.,  0., -1., -1., -1.,  0.,  0., -1., -1.,  0.,  0.,  0.,
       -1.,  0.,  0.,  0.,  0.,  0., -1., -1., -1.,  0.,  0., -1., -1.,
        0.,  0., -1., -1., -1.,  0., -1., -1., -1., -1.,  0., -1.,  0.,
        0., -1.,  0., -0., -1.,  0., -1.,  0.,  0., -1., -1., -1., -1.,
        0.,  0., -1.,  0.,  0.,  0., -1., -1., -1., -1.,  0., -1.,  0.,
        0.,  0., -1., -1., -1.,  0., -1., -1., -1.,  0.,  0., -1., -1.])

In [ ]:
clf.predict(train_data[0].reshape(1, -1))

In [ ]:
label_data[0]